@font-face {
  font-family: 'TradeGothic LT';
  src: url('/public/assets/fonts/TradeGothicLT-Bold.woff2') format('woff2'),
    url('/public/assets/fonts/TradeGothicLT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  cursor: url('/public/assets/images/cursor-heart.png') 16 14, default;
}

body {
  background-image: url('/public/assets/images/bg1.jpg');
  background-size: cover;
}

main {
  height: 100vh;
}

.shine {
  position: absolute;
  width: 40px;
  height: 1px;
  border-radius: 100%;
  background-color: #ffc653;
  box-shadow: 0 0 15px 6px #eed7a8, 0 0 6px 2px #ffc653;
  opacity: 0;
  mix-blend-mode: hard-light;
}

.shine.-video-top-left {
  top: -5px;
  left: 15%;
  animation: shine 10s 0.2s ease infinite alternate,
    move-x 10s 0.2s linear infinite alternate-reverse;
}

.shine.-video-top-right {
  top: -5px;
  right: calc(15% + 75px);
  animation: shine 10s 0.5s ease infinite alternate,
    move-x 10s 0.5s linear infinite alternate-reverse;
}
.shine.-video-bottom-left {
  bottom: -5px;
  left: 5%;
  animation: shine 10s 0.4s ease infinite alternate,
    move-x 10s 0.4s linear infinite alternate-reverse;
}

.shine.-video-bottom-right {
  bottom: -5px;
  right: calc(25% + 75px);
  animation: shine 10s 0.3s ease infinite alternate,
    move-x 10s 0.3s linear infinite alternate-reverse;
}

.shine.-name-top {
  top: 0px;
  left: 15%;
  animation: shine 10s 0.25s ease infinite alternate,
    move-x 10s 0.25s linear infinite alternate-reverse;
}
.shine.-name-bottom {
  bottom: 0px;
  right: 40%;
  animation: shine 10s 0.25s ease infinite alternate,
    move-x 10s 0.25s linear infinite alternate;
}

@keyframes shine {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes move-x {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(150px);
  }
}
