---
import Name from '../components/Name.astro';
import Webcam from '../components/Webcam.svelte';

let title = 'J E O P A R D I F Y';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

  <style global>
		@import "../styles/reset.css";
		@import "../styles/global.css";
	</style>

	<style>

    .video-container {
      padding: 40px 80px 40px;
      margin: 0 auto;
      max-width: 66%;
    }
	</style>
</head>
<body>
	<main>
    <div class="video-container">
		  <Webcam client:load />
    </div>

    <Name />

	</main>
</body>
</html>
