<div class="name">
  <div contenteditable tabindex="0" class="name-input">
    Amy Schneider
  </div>
</div>

<style>
  .name {
    text-align: center;
  }

  .name-input {
    width: 50%;
    position: relative;
    display: inline-block;
    padding: 20px 24px;
    overflow: hidden;
    font-family: 'TradeGothic LT';
    font-weight: bold;
    font-size: clamp(36px, 3.3vw, 80px);
    line-height: 1;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1);
    border: 4px solid #decc3f;
    border-left: none;
    border-right: none;
    text-shadow: 4px 2px 6px rgba(0, 0, 0, .6);
    box-shadow: 0 0 8px 6px rgba(0, 0, 0, .3);
    cursor: url(/public/assets/images/cursor-pencil.png), default !important;
  }

  .name-input:focus {
    outline: none;
  }

  .name-input::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/public/assets/images/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.8;
  }
</style>
